@page
@model BikeService.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (@Model.SuccessMessage != null)
 {
    <div class="alert alert-success" role="alert">
     @Model.SuccessMessage
    </div>
 }


<form asp-page="Index" method="get">
    <br /><br />
    <div class="row">
        <div class="col-6">
            <h2 class="text-dark">Customers List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-page="/Account/Register" asp-area="Identity" class="btn btn-warning">
                <i class="fas fa-plus"></i>&nbsp; Create New Customer
            </a>
        </div>
    </div>

    <div class="border backgroundwhite">

        <div style="height:60px;" class="container border border-secondary">
            <div class="row">
                <div class="col-11">
                    <div class="row p-2" >
                        <div class="col-4">
                            <input type="text" name="searchEmail" placeholder="Email..." class="form-control" />
                        </div>
                        <div class="col-4">
                            <input type="text" name="searchName" placeholder="Name..." class="form-control" />
                        </div>
                        <div class="col-4">
                            <input type="text" name="searchPhone" placeholder="Phone..." class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="row p-2" >
                        <button type="submit" name="submit" value="Search" class="btn btn-warning form-control">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div>
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        Name
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        E-Mail
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model.UsersListVM.ApplicationUserList)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.PhoneNumber
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            <a asp-page="../Bikes/Index" asp-route-userId="@item.Id" style="text-decoration:none">
                                <img src="~/images/bike2.png"  style="width:45px"/> &nbsp; View Bikes
                            </a>
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary text-white" asp-page="Edit" asp-route-Id="@item.Id" data-toggle="tooltip" data-placement="top" title="Edit">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a class="btn btn-danger text-white" asp-page="Delete" asp-route-Id="@item.Id" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    }
                <tr>
                    <td colspan="5" class="text-right">
                        <div page-model="@Model.UsersListVM.PagingInfo" asp-action="Index" page-class="btn border"
                             page-class-normal="btn btn-light" page-class-selected="btn btn-warning active" class="btn-group">
                        </div>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>